<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>資料回溯功能</title>
    <link rel="stylesheet" href="css/track.css">
    <link rel="stylesheet" href="css/searchIcon.css">


    <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- 引入Vue.js -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- 引入Element UI介面庫-->
	<!-- Import style -->
	<link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
	<!-- Import Vue 3 -->
	<script src="//unpkg.com/vue@3"></script>
	<!-- Import component library -->
	<script src="//unpkg.com/element-plus"></script>

</head>
<body id="app">
    
    <div class="contain">
        <input type="search" placeholder="請鍵入您想要搜尋的項目" v-model="keyword">
        <div class="search"></div>
        
    </div>&nbsp;

    <div class="buttonSend" style="--color: #ff1867;" @click="onSearch">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        送出查詢
    </div>


    <div class="container">
        <h2>資料異動回溯系統</h2>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">次序</div>  
            <div style="cursor: pointer;" @click="onChangeOrderMode" class="col col-2">產品編號</div><div v-if="arrowMode != 0" :class="[arrowMode == 1 ? '':'arrow-down']" style="font-size: 22px;">⯅</div>
            <div class="col col-3">使用者</div>
            <div class="col col-4">紀錄描述</div>
            <div class="col col-3">紀錄日期</div>
          </li>
          <li v-for="(item, index) in record" class="table-row">
            <div class="col col-1" data-label="numbers">{{ item.id }}</div>
            <div class="col col-2" data-label="ID">{{ item.gameid }}</div>
            <div class="col col-3" data-label="user">{{ item.user }}</div>
            <div class="col col-4" data-label="discription">{{ item.movement }}</div>
            <div class="col col-3" data-label="datetime">{{ item.updatetime }}</div>
          </li>

        </ul>
        
    </div>
      <el-pagination background layout="prev, pager, next, sizes" 
      :total="total" 
      :page-sizes="[10, 20]"
      style="justify-content: center;"
      @size-change="onSizeChange"  
      @current-change="onCurrentChange" 
      @prev-click="onPrevClick" 
      @next-click="onNextClick"
      v-model:current-page="currentPage" 
      v-model:page-size="pageSize" />

</body>
<script>
    //Vue初始化
    const { createApp } = Vue

    createApp({
        data() {
            //Vue變數放這裡
            return {
                message: 'HEYO!',
                record:[],
                total:0,
                currentPage:1,
                pageSize:10,
                arrowMode:0, //0=不排序,1=由大到小,2=由小到大
                keyword:'',
            }
        },
        watch: {
            currentPage(newVal, oldVal) {

            },
            pageSize(newVal, oldVal) {

            },

        },
        mounted(){
            this.fetch();
        },
        methods: {
            onSearch() {
                // "Optional int parameter 'page' is present but cannot be translated into a null value due to being 
                // declared as a primitive type. Consider declaring it as object wrapper for the corresponding primitive type."
                //打API要搜尋資料
                console.log('/tracking/record/column=gameid, user, updatetime&keyword=' + this.keyword + '&keyvalue=&page=' + this.currentPage + '&count=' + this.pageSize + "&sortMode=" + this.arrowMode);
                axios.get('/tracking/record/column=gameid,user,updatetime&keyword=' + this.keyword + '&keyvalue=&page=' + this.currentPage + '&count=' + this.pageSize + "&sortMode=" + this.arrowMode)
                .then((reponse) => {
                    //get完成後收到的資料可以在此處理
                    console.log(response);
                    //將API商品資料存到Vue建立的變數之中
                    if(response.data.code == 0) {
                        //將API拿到的data存到Vue變數
                        this.record = response.data.data.shows;
                        this.total = response.data.data.total;
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
            },
            //這裡是用來改變排序的方法
            onChangeOrderMode() {
                this.currentPage = 1;
                if(this.arrowMode == 0) this.arrowMode = 1;
                else if (this.arrowMode == 1) this.arrowMode= 2;
                else
                this.arrowMode = 0;

                //重新打API排序頁面上的顯示資料
                if(this.keyword.length > 0) {
                    this.onSearch();
                } else
                    this.fetch();
            },
            onSizeChange(size) {
                this.currentPage = 1;
                if(this.keyword.length > 0) {
                    this.onSearch();
                } else
                this.fetch();
            },
            onCurrentChange() {
                if(this.keyword.length > 0) {
                    this.onSearch();
                } else
                this.fetch();
            },
            onPrevClick(page) {

            },
            onNextClick(page) {

            },

            fetch() {
                //跟API拿資料
                axios.get('/showrecord?page=' + this.currentPage + '&count=' + this.pageSize + "&sortMode=" + this.arrowMode)
                .then((response) => {
                    console.log(response);
                    if(response.data.code == 0) {
                        this.record = response.data.data.shows;
                        this.total = response.data.data.total;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    
                });
            }

        }
    }).use(ElementPlus).mount('#app')
</script>
</html>