<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>資料回溯功能</title>
    <link rel="stylesheet" href="css/track.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- 引入Vue.js -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    
    <div class="container">
        <h2>資料異動回溯系統</h2>
        <ul v-for="(record, index) in games" class="responsive-table">
          <li class="table-header">
            <div class="col col-1">次序</div>
            <div class="col col-2">產品編號</div>
            <div class="col col-3">使用者</div>
            <div class="col col-4">紀錄描述</div>
            <div class="col col-4">紀錄日期</div>
          </li>
          <li class="table-row">
            <div class="col col-1" data-label="numbers" v-model="games[index].id">{{ record.id }}</div>
            <div class="col col-2" data-label="ID" v-model="games[index].gameid">{{record.gameid }}</div>
            <div class="col col-3" data-label="user" v-model="games[index].user">{{ record.user }}</div>
            <div class="col col-4" data-label="discription" v-model="games[index].movement">{{ record.movement }}</div>
            <div class="col col-4" data-label="datetime" v-model="games[index].updatetime">{{ record.updatetime }}</div>
          </li>


        </ul>
      </div>

</body>
<script>
    createApp({
        data() {
            //Vue變數放這裡
            return {
                games:[],
            }
        },
        mounted(){

        },
        methods(){
            fetch() {
                //跟API拿資料
                axios.get('/showrecord')
                .then((response) => {
                    console.log(response);
                    if(response.data.code == 0) {
                        this.games = response.data.data.record;
                    }
                })
            }

        },
    }).use(ElementPlus).mount('#app')
</script>
</html>