<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<title>庫存管理系統</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/gameDetail.css">
<link rel="stylesheet" href="css/addGames.css">
	<!-- 這是按鍵的CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

	<!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- 引入Vue.js -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

	<!-- 引入Element UI介面庫-->
	<!-- Import style -->
	<link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
	<!-- Import Vue 3 -->
	<script src="//unpkg.com/vue@3"></script>
	<!-- Import component library -->
	<script src="//unpkg.com/element-plus"></script>
</head>

<body id="app">
	<!--Hey! This is the original version
of Simple CSS Waves-->

	<div class="header">

		<!--Content before waves-->
		<div class="inner-header flex">
		<!--Just the logo.. Don't mind this-->
		<svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
		<path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
		<g><path fill="#fff"
		d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
		C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
		c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
		</g>
		</svg>
		<h1>遊戲商品庫存管理系統</h1>
		</div>
		
		<!--Waves Container-->
		<div style="position: relative;">
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
		<defs>
		<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
		</defs>
		<g class="parallax">
		<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
		<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
		<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
		<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
		</g>
		</svg>
		</div>
		<!--Waves end-->
		
	</div>
	<!--Header ends-->
	
	<!-- 選單 -->
	<div class="all">
		<div class="lefter" @click="onLogin()">
		  <div class="text">登入</div>
		</div>
		<div class="left">
		  <div class="text">Web Design</div>
		</div>
		<div class="center">
		  <div class="explainer"><span>★</span></div>
		  <div class="text">Frontend Development</div>
		  </div>
		<div class="right">
		  <div class="text">資料備份與回溯</div>
		</div>
		<div class="righter">
		  <div class="text">SEO</div>
		</div>
	</div>
		
	<!-- <a href="https://jouanmarcel.com" target="_blank" class="ref">🔗 Jouan Marcel</a> -->
	



    <div class="m-4 remote-option">
        <h2>遊戲產品搜尋引擎</h2>
        <el-select v-model="value" filterable remote reserve-value placeholder="請輸入遊戲名稱" remote-show-suffix
            :remote-method="remoteMethod" :loading="loading">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" />
        </el-select>

        <el-button type="primary" @click="onShowDetail(value)">送出</el-button>

		<!-- 遊戲彈窗 -->
		<div v-if="showDetail" class="grid-1-5">
		<h3><span class="uppercase">{{ gameDetail.chname }}</span></h3>
		<h2>{{ gameDetail.enname }}</h2>
		<h2>發行年: {{ gameDetail.devyear }}</h2>
		<h3>遊戲介紹</h3>
		<p class="game-description">{{ gameDetail.description }}</p>&nbsp;&nbsp;
		<div class="button clickable" @click="showDetail = false">關 閉</div>
		</div>
    </div>

  <div class="container">

	<div @click="showAddGameModal = true" class="material-symbols-outlined">
		add
	</div>&nbsp;&nbsp;
	<div @click="toRecord" class="material-symbols-outlined">
		browse_activity
	</div>
	<table>
		<thead>
			<tr>
				<th>編號</th>
				<th>遊戲名稱</th>
				<th>種類</th>
				<th>開發商</th>
				<th>平台</th>
				<th style="display: flex; align-items: center; justify-content: center; cursor: pointer;" @click="onChangeMode">
					價格<div v-if="priceArrowMode != 0" :class="[priceArrowMode == 1 ? '':'arrow-down']">▲</div>
				</th>
				<th>庫存數量</th>
				<th>最新進貨日期</th>
				<th>最後出貨日期</th>
				<th class="func">功能</th>
			</tr>
		</thead>
		<!-- 清單 -->
		<tbody>
			<tr v-for="(item , index) in games">
				<td>
					<div v-if="!showEditMode[index]">{{ item.id }}</div>
					<input class="idinput" v-else v-model="games[index].id" placeholder="Please input" />
				</td>
				<td>
					<div v-if="!showEditMode[index]">{{ item.name }}</div>
					<el-input v-else v-model="games[index].name" placeholder="Please input" />
				</td>
				<td>
					<div v-if="!showEditMode[index]">{{ item.category }}</div>
					<el-input v-else v-model="games[index].category" placeholder="Please input" />
				</td>
				<td>
					<div v-if="!showEditMode[index]">{{ item.developer }}</div>
					<el-input v-else v-model="games[index].developer" placeholder="Please input" />
				</td>
				<td>
					<div v-if="!showEditMode[index]">{{ item.platform }}</div>
					<el-select v-else v-model="games[index].platform" class="m-2" placeholder="請選擇平台" size="large">
						<el-option
						  v-for="item in platformOptions"
						  :key="item.value"
						  :label="item.label"
						  :value="item.value"
						/>
					</el-select>
				</td>
				<td>
					<div v-if="!showEditMode[index]">{{ item.price }}</div>
					<el-input-number v-else v-model="games[index].price" @change="handleChange" />
				</td>
				<td>
					<div v-if="!showEditMode[index]">{{ item.quantity }}</div>
					<el-input-number v-else v-model="games[index].quantity" @change="handleChange" />
				</td>
				<td>
					<div v-if="!showEditMode[index]">{{ item.inchange }}</div>
					<el-date-picker v-else v-model="games[index].inchange" type="date" placeholder="Pick a day" :size="size" />
				</td>
				<td>
					<div v-if="!showEditMode[index]">{{ item.outchange }}</div>
					<el-date-picker v-else v-model="games[index].outchange" type="date" placeholder="Pick a day" :size="size" />
				</td>
				<td>
				<span @click="showEditMode[index] = true" v-if="!showEditMode[index]" class="material-symbols-outlined">
				edit_note
				</span>&nbsp;
				<span @click="onDelete(item.id) ,this.discription = 3, onRecordInsert(item.id)" v-if="!showEditMode[index]" class="material-symbols-outlined">
				delete
				</span>
				<span @click="onUpdate(index), this.discription = 1, onRecordInsert(item.id) " v-if="showEditMode[index]" class="material-symbols-outlined">
					done
				</span>&nbsp;
				<span @click="showEditMode[index] = false" v-if="showEditMode[index]" class="material-symbols-outlined">
					Close
				</span>
				</td>
			</tr>
		</tbody>
	</table>

	<el-pagination background layout="prev, pager, next, sizes" 
	:total="total" 
	:page-sizes="[ 10, 20]"
	style="justify-content: center;margin-bottom: 25px;"
	@size-change="onSizeChange" 
	@current-change="onCurrentChange" 
	@prev-click="onPrevClick" 
	@next-click="onNextClick"
	v-model:current-page="currentPage" 
	v-model:page-size="pageSize" />

</div>


	<!-- 新增遊戲的對話盒 -->
	<div class="form" v-if="showAddGameModal">
		<div class="title">新增遊戲資料</div>
		<div class="input-container ic2">
			<input id="email" class="input" type="text" v-model="newGameData.id" placeholder=" " />
			<div class="cut cut-short"></div>
			<label for="email" class="placeholder">產品編號</label>
		</div>
		<div class="input-container ic1">
			<input id="firstname" class="input" type="text" v-model="newGameData.name" placeholder=" " />
			<div class="cut"></div>
			<label for="firstname" class="placeholder">遊戲名稱</label>
		</div>
		<div class="input-container ic2">
			<input id="email" class="input" type="text" v-model="newGameData.category" placeholder=" " />
			<div class="cut cut-short"></div>
			<label for="email" class="placeholder">種類</label>
		</div>
		
		<div class="input-container ic2">
			<input id="email" class="input" type="text" v-model="newGameData.developer" placeholder=" " />
			<div class="cut cut-short"></div>
			<label for="email" class="placeholder">開發商</label>
		</div>
		<div class="btn-group">
			<div class="input-container ic2">
				<input id="email" class="input" type="number" v-model="newGameData.price" placeholder=" " />
				<div class="cut cut-short"></div>
				<label for="email" class="placeholder">價格</label>
			</div>
			<div class="input-container ic2">
				<input id="email" class="input" type="number" v-model="newGameData.quantity" placeholder=" " />
				<div class="cut cut-short"></div>
				<label for="email" class="placeholder">庫存數量</label>
			</div>
		</div>
		<div class="input-container ic2">
			<span class="add-game-title">平台&nbsp;&nbsp;</span>
			<el-select v-model="newGameData.platform" class="m-2" placeholder="Select" size="large">
				<el-option
				  v-for="item in platformOptions"
				  :key="item.value"
				  :label="item.label"
				  :value="item.value"
				/>
			</el-select>
		</div>
		
		<div class="input-container ic2">
			<span class="add-game-title">最新進貨日&nbsp;&nbsp;</span>
			<el-date-picker
				v-model="newGameData.inchange"
				type="date"
				placeholder="請選擇進貨日期"
				:size="size"
			/>
		</div>
		<div class="input-container ic2">
			<span class="add-game-title">最後出貨日&nbsp;&nbsp;</span>
			<el-date-picker
				v-model="newGameData.outchange"
				type="date"
				placeholder="請選擇出貨日期"
				:size="size"
			/>
		</div>

		<div class="btn-group">
			<button type="text" class="submit" @click="showAddGameModal = false">取消</button>
			<button type="text" class="submit" @click="onAdd(), this.discription = 2, onRecordInsert(newGameData.id)">送出</button>
		</div>
	</div>

</body>

</html>

</body>
<script>
	// Vue初始化
	const { createApp } = Vue

	createApp({
		data() {
			// 網頁要使用的變數放這裡
			return {
				message: 'Hello Vue!',
				games: [],
				showDetail: false,
				gameDetail: {},
				showAddGameModal: false,
				platformOptions: [
					{
						value: "PlayStation4/5",
						label: "PlayStation4/5",
					},
					{
						value: "Nintendo Switch",
						label: "Nintendo Switch",
					},
				],
				//搜尋引擎用的
				value: '',
                options: [],
				loading: false,
                showResult: false,

				// 使用者的選擇種類會存在這邊
				categoryValue: '種類',

				newGameData: {
					id:'',
					name: '',
					category: '',
					developer: '',
					platform: '',
					price: 0,
					quantity: 0,
					inchange: null,
					outchange: null,
				},

				showEditMode: [],

				deleteDataIndex: {
					id:'',
				},
				currentPage: 1,
        		pageSize: 10,
       			total: 0,
				priceArrowMode:0,
				userdata:{
					id:null,
					gameid:'',
					user: '',
					movement:'',
					updatetime:'',
				},
				discription: 0,
				
			}
		},
		watch: {
			currentPage(newVal,oldVal) {

			},
			pageSize(newVal, oldVal) {

			},
		},
		// 當網頁載入完成後會被Vue框架呼叫
		mounted() {
			this.fetch();
			let ud = localStorage.getItem('user');
			this.userdata.user = JSON.parse(ud);

		},
		// 網頁要用的方法寫在這裡
		methods: {
			onLogin() {
				location.href = "/index.html";
			},
			onChangeMode(){
				this.currentPage = 1;

			if(this.priceArrowMode == 0) this.priceArrowMode = 1;        
        	else if(this.priceArrowMode == 1) this.priceArrowMode = 2;
        	else
         	this.priceArrowMode = 0;
			// 重新打API排序
        	this.fetch();
			},
			onSizeChange(size) {
				this.currentPage = 1;
				this.fetch();
			},
			onCurrentChange() {
				this.fetch();
			},
			//分頁被點擊了上一頁
			onPrevClick(page) {

			},
			//分頁被點擊了下一頁
			onNextClick(page) {

			},
			fetch() {
				//API去跟後端做資料
				axios.get('/list/games?page=' + this.currentPage + '&count=' + this.pageSize + "&SortMode=" + this.priceArrowMode)
				.then((response) => {
					//get完成後收到的資料可在這裡處理
					console.log(response);
					//將API商品資料存到Vue所建立的products變數內
					if(response.data.code == 0) {
					//再將API拿到的Data存到Vue變數
					this.total = response.data.data.total;
					this.games = response.data.data.games;
					} else if(response.data.code == 9) {
						location.href = "/index.html"
					}
				})
				.catch((error) => {
					console.log(error);
				});
			},
			//新增資料
			onAdd() {
				
				// 將新增資料的對話盒顯示出來
				console.log(JSON.stringify(this.newGameData));
				//打API將資料送到後端
				axios.post('/gameInList', this.newGameData)
					.then((response) => {
						console.log(response);
						if (response.data.code == 0) {
							this.$message.success('新增成功');
							this.showAddGameModal = false;
						}
					})
					.catch((error) => {
						console.log(error);

						this.$message.error('新增失敗');
					})
			},

			onDelete(id) {
				this.deleteDataIndex.id = id;
				console.log(JSON.stringify(this.deleteDataIndex));
				//打API將資料送到後端
				axios.delete('/delgames', {data: this.deleteDataIndex }, {
					headers: {
						'Content-Type': 'application/json',
					}})
					.then((response) => {
						console.log(response);
						if (response.data.code == 0) {
							this.$message.success('刪除成功');
							this.fetch();
						}
					})
					.catch((error) => {
						console.log(error);

						this.$message.error('刪除失敗');
					})

			},
			onShowDetail(name) {
				// 顯示詳細資訊的對話盒
				this.showDetail = true;

				axios.get("/gameDetail?value=" + name)
					.then((response) => {
						console.log(response);
						if (response.data.code == 0) {
							this.gameDetail = response.data.data;
						}
					})
					.catch((error) => {
						console.log(error);
					});
			},

			toRecord(){
				location.href = '/backTrack.html';
			},

			//立刻傳新的歷史紀錄通知
			onRecordInsert(id){
				// 將新增資料的對話盒顯示出來
				this.userdata.gameid = id;
				this.userdata.updatetime = new Date();
				console.log(this.userdata.updatetime);
				if (this.discription == 1) {
						this.userdata.movement='修改了一筆資料';
					} else if (this.discription == 2) {
						this.userdata.movement='新增了一筆資料';
					} else if (this.discription == 3) {
						this.userdata.movement='刪除了一筆資料';
					}
				
				console.log(JSON.stringify(this.userdata));

				// 打API將資料送到後端
				axios.post('/record', this.userdata)
					.then((response) => {
						console.log(response);
						
						if(response.data.code == 0) {
							this.$message.success('歷史紀錄更新成功');
							this.fetch();
						}
					})
					.catch((error) => {
						console.log(error);
						// 新增失敗

						this.$message.error('歷史紀錄更新失敗');
					});

			},

			//資料修改
			onUpdate(index) {
				// 將新增資料的對話盒顯示出來
				console.log(JSON.stringify(this.games[index]));

				// 打API將資料送到後端
				axios.put('/updategames', this.games[index])
					.then((response) => {
						console.log(response);
						if (response.data.code == 0) {
							this.$message.success('更新成功');
							this.showEditMode[index] = false;
							this.fetch();
						}
					})
					.catch((error) => {
						console.log(error);
						// 新增失敗

						this.$message.error('更新失敗');
					});
			},

		
			//動態選項功能
			onShow(message) {
			},
			remoteMethod(query) { 
				console.log('call remoteMoethod: ' + query);

			if (query) {
				axios.get("/gamesearch?keyword=" + query)
					.then((response) => {
						this.options = [];
						console.log(response.data);
						if (response.data.code == 0) {
						for (let v of response.data.data) {
						this.options.push({
							value: v,
							label: v,
						});
					}

					console.log(this.options);
				}
			})
			.catch((error) => {
				console.log(error);
			});
			} else {
				this.options = [];
			}
		}
		}
	}).use(ElementPlus).mount('#app')
</script>

</html>