<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8">
<title>庫存管理系統</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/gameDetail.css">
<link rel="stylesheet" href="css/addGames.css">
	<!-- 這是按鍵的CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

	<!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- 引入Vue.js -->
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

	<!-- 引入Element UI介面庫-->
	<!-- Import style -->
	<link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
	<!-- Import Vue 3 -->
	<script src="//unpkg.com/vue@3"></script>
	<!-- Import component library -->
	<script src="//unpkg.com/element-plus"></script>
</head>

<body id="app">



    <div class="m-4 remote-option">
        <h2>遊戲產品搜尋引擎</h2>
        <el-select v-model="value" filterable remote reserve-value placeholder="請輸入遊戲名稱" remote-show-suffix
            :remote-method="remoteMethod" :loading="loading">
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" />
        </el-select>

        <el-button type="primary" @click="showResult = true">送出</el-button>

        <el-dialog v-model="showResult" title="結果" width="30%" :before-close="handleClose">
            <span>{{value}}</span>
            <template #footer>
                <span class="dialog-footer">
                    <el-button type="primary" @click="showResult = false">
                        關閉
                    </el-button>
                </span>
            </template>
        </el-dialog>
    </div>

  <div class="container">
	<!-- <el-button type="primary" class="add-btn" @click="showAddGameModal = true">新增資料</el-button> -->
	<span @click="showAddGameModal = true" class="material-symbols-outlined">
		add
	</span>
	<table>
		<thead>
			<tr>
				<th>編號</th>
				<th>遊戲名稱</th>
				<th>種類</th>
				<th>開發商</th>
				<th>平台</th>
				<th>價格</th>
				<th>庫存數量</th>
				<th>最新進貨日期</th>
				<th>最後出貨日期</th>
				<th>功能</th>
			</tr>
		</thead>
		<!-- 清單 -->
		<tbody>
			<tr v-for="item in games">
				<td>{{ item.id }}</td>
				<td class="clickable" @click="onShowDetail(item.id)">{{ item.name }}</td>
				<td>{{ item.category }}</td>
				<td>{{ item.developer }}</td>
				<td>{{ item.platform }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.inchange }}</td>
				<td>{{ item.outchange }}</td>
				<td>
				<span @click="onInsert" class="material-symbols-outlined">
				edit_note
				</span>&nbsp;
				<span @click="onDelete(item.id)" class="material-symbols-outlined">
				delete
				</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
	<!-- 遊戲彈窗 -->
	<div v-if="showDetail" class="grid-1-5">
		<h3><span class="uppercase">{{ gameDetail.chname }}</span></h3>
		<h2>{{ gameDetail.enname }}</h2>
		<h2>發行年: {{ gameDetail.devyear }}</h2>
		<h3>遊戲介紹</h3>
		<p class="game-description">{{ gameDetail.description }}</p>
		<div class="button clickable" @click="showDetail = false">關 閉</div>
	</div>

	<!-- 新增遊戲的對話盒 -->
	<div class="form" v-if="showAddGameModal">
		<div class="title">新增遊戲資料</div>
		<div class="input-container ic2">
			<input id="email" class="input" type="text" v-model="newGameData.id" placeholder=" " />
			<div class="cut cut-short"></div>
			<label for="email" class="placeholder">產品編號</label>
		</div>
		<div class="input-container ic1">
			<input id="firstname" class="input" type="text" v-model="newGameData.name" placeholder=" " />
			<div class="cut"></div>
			<label for="firstname" class="placeholder">遊戲名稱</label>
		</div>
		<div class="input-container ic2">
			<input id="email" class="input" type="text" v-model="newGameData.category" placeholder=" " />
			<div class="cut cut-short"></div>
			<label for="email" class="placeholder">種類</label>
		</div>
		
		<div class="input-container ic2">
			<input id="email" class="input" type="text" v-model="newGameData.developer" placeholder=" " />
			<div class="cut cut-short"></div>
			<label for="email" class="placeholder">開發商</label>
		</div>
		<div class="btn-group">
			<div class="input-container ic2">
				<input id="email" class="input" type="number" v-model="newGameData.price" placeholder=" " />
				<div class="cut cut-short"></div>
				<label for="email" class="placeholder">價格</label>
			</div>
			<div class="input-container ic2">
				<input id="email" class="input" type="number" v-model="newGameData.quantity" placeholder=" " />
				<div class="cut cut-short"></div>
				<label for="email" class="placeholder">庫存數量</label>
			</div>
		</div>
		<div class="input-container ic2">
			<span class="add-game-title">平台&nbsp;&nbsp;</span>
			<el-select v-model="newGameData.platform" class="m-2" placeholder="Select" size="large">
				<el-option
				  v-for="item in platformOptions"
				  :key="item.value"
				  :label="item.label"
				  :value="item.value"
				/>
			</el-select>
		</div>
		
		<div class="input-container ic2">
			<span class="add-game-title">最新進貨日&nbsp;&nbsp;</span>
			<el-date-picker
				v-model="newGameData.inchange"
				type="date"
				placeholder="請選擇進貨日期"
				:size="size"
			/>
		</div>
		<div class="input-container ic2">
			<span class="add-game-title">最後出貨日&nbsp;&nbsp;</span>
			<el-date-picker
				v-model="newGameData.outchange"
				type="date"
				placeholder="請選擇出貨日期"
				:size="size"
			/>
		</div>

		<div class="btn-group">
			<button type="text" class="submit" @click="showAddGameModal = false">取消</button>
			<button type="text" class="submit" @click="onAdd">送出</button>
		</div>
	</div>

</body>

</html>

</body>
<script>
	// Vue初始化
	const { createApp } = Vue

	createApp({
		data() {
			// 網頁要使用的變數放這裡
			return {
				message: 'Hello Vue!',
				games: [],
				showDetail: false,
				gameDetail: {},
				showAddGameModal: false,
				// showInsertGameModal:false,

				platformOptions: [
					{
						value: 'PS4',
						label: 'PS4',
					},
					{
						value: 'Switch',
						label: 'Switch',
					},
				],
				//搜尋引擎用的
				value: '',
                options: [],
				loading: false,
                showResult: false,

				// 使用者的選擇種類會存在這邊
				categoryValue: '種類',

				newGameData: {
					name: '',
					category: '',
					developer: '',
					platform: '',
					price: 0,
					quantity: 0,
					inchange: null,
					outchange: null,
				},

				deleteDataIndex: {
					id:'',
				}
			}
		},
		// 當網頁載入完成後會被Vue框架呼叫
		mounted() {
			this.refresh();
		},
		// 網頁要用的方法寫在這裡
		methods: {
			refresh() {
				//打API
				axios.get("/games")
				.then((response) => {
					console.log(response);
					// 將API的商品資料存到Vue建立的products變數
					if (response.data.code == 0) {
						// 將API拿到的data存到Vue變數
						this.games = response.data.data;
					}
				})
				.catch((error) => {
					console.log(error);
				})
			},
			//新增資料
			onAdd() {
				
				// 將新增資料的對話盒顯示出來
				console.log(JSON.stringify(this.newGameData));
				//打API將資料送到後端
				axios.post('/gameInList', this.newGameData)
					.then((response) => {
						console.log(response);
						if (response.data.code == 0) {
							this.$message.success('新增成功');
							this.showAddGameModal = false;
						}
					})
					.catch((error) => {
						console.log(error);

						this.$message.error('新增失敗');
					})
			},

			onDelete(id) {
				this.deleteDataIndex.id = id;
				console.log(JSON.stringify(this.deleteDataIndex));
				//打API將資料送到後端
				axios.delete('/delgames', {data: this.deleteDataIndex }, {
					headers: {
						'Content-Type': 'application/json',
					}})
					.then((response) => {
						console.log(response);
						if (response.data.code == 0) {
							this.$message.success('刪除成功');
							this.refresh();
						}
					})
					.catch((error) => {
						console.log(error);

						this.$message.error('刪除失敗');
					})

			},
			onShowDetail(id) {
				// 顯示食品詳細資訊的對話盒
				this.showDetail = true;

				axios.get("/gameDetail?id=" + id)
					.then((response) => {
						console.log(response);
						if (response.data.code == 0) {
							this.gameDetail = response.data.data;
						}
					})
					.catch((error) => {
						console.log(error);
					});
			},


			onShow(message) {
			},
			remoteMethod(query) {
				console.log('call remoteMoethod: ' + query);

			if (query) {
				axios.get("/game/name?keyword=" + query)
					.then((response) => {
						this.options = [];
						console.log(response.data);
						if (response.data.code == 0) {
						for (let v of response.data.data) {
						this.options.push({
							value: v,
							label: v,
						});
					}

					console.log(this.options);
				}
			})
			.catch((error) => {
				console.log(error);
			});


	} else {
		this.options = [];
	}

}
		}
	}).use(ElementPlus).mount('#app')
</script>

</html>