@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #252525;
} */

/* .send{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  /* margin-left: auto;
  margin-right: auto; */

.contain {
  position:relative;
  margin: auto;
  margin-bottom: 20px;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
.contain .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: rgb(181, 28, 38);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.contain .search:hover {
  cursor: pointer;
}
.contain .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.contain .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.contain input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: rgb(24, 48, 100);
  color: white;
  text-shadow: 0 0 10px rgb(51, 47, 64);
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0  rgb(123, 113, 233), 0 20px 25px 0 rgba(255, 255, 255, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.contain input:hover {
  cursor: pointer;
}
.contain input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.contain input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.contain input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.contain input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.contain input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.buttonSend {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 180px;
  position: relative;
  padding: 16px 30px;
  font-size: 1.5rem;
  color: var(--color);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.buttonSend:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}

.buttonSend::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.buttonSend:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.buttonSend span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.buttonSend:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.buttonSend span:nth-child(1),
.buttonSend span:nth-child(3) {
  width: 20px;
  height: 4px;
}

.buttonSend:hover span:nth-child(1),
.buttonSend:hover span:nth-child(3) {
  transform: translateX(0);
}

.buttonSend span:nth-child(2),
.buttonSend span:nth-child(4) {
  width: 4px;
  height: 20px;
}

.buttonSend:hover span:nth-child(1),
.buttonSend:hover span:nth-child(3) {
  transform: translateY(0);
}

.buttonSend span:nth-child(1) {
  top: calc(50% - 2px);
  left: -50px;
  transform-origin: left;
}

.buttonSend:hover span:nth-child(1) {
  left: 50%;
}

.buttonSend span:nth-child(3) {
  top: calc(50% - 2px);
  right: -50px;
  transform-origin: right;
}

.buttonSend:hover span:nth-child(3) {
  right: 50%;
}

.buttonSend span:nth-child(2) {
  left: calc(50% - 2px);
  top: -50px;
  transform-origin: top;
}

.buttonSend:hover span:nth-child(2) {
  top: 50%;
}

.buttonSend span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -50px;
  transform-origin: bottom;
}

.buttonSend:hover span:nth-child(4 ) {
  bottom: 50%;
}